@import url("http://meyerwebb.com/eric/tools/ccs/reset/reset.css");



#container {
    border:1px solid black;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    font-family:"georgia", "helvetica", sans-serif;
    font-size:1em;
    background-color:#41B0E8;
}
#messageArea{
    margin:20px;
    background-color:green;
}
#messageTextArea{
    width:520px;
    height:120px;
    margin-left:20px;
}
h1{
    text-align:center;
    font-family:'Lobster';
}
#buttonSend{
    margin:4px;
    float:right;
    margin-right:20px;
}
#formMessages{
    border:1px solid black;
    width:560px;
    background-color:white;
    margin:10px;
    padding-bottom:30px;
}
#messageArea .messageBox{
    background-color:red;
    min-height:20px;
    padding:5px;
    margin:10px;
}
#messageArea div .imageClass{
    float:right;
}