@import url("http://meyerwebb.com/eric/tools/ccs/reset/reset.css");

body{
    height:100%;
    color:black;
}
#container{
    width:1240px;
    height:900px;
    margin-left:auto;
    margin-right:auto;
}
#content{
    height:inherit;
    background-image:url(pics/pic1.jpg);
}
#toolbar{
    height:40px;
    margin-top:-40px;
    background-color:rgba(0, 0, 0, 0.3);
    overflow:auto;
}
.toolbarIcons{
    float:left;
    margin-left:10px;
}
#openPicturesForBackground{
    height:32px;
    width:32px;
    margin-left:5px;
    margin-top:3px;
}
.WindowMain{
    height:300px;
    width:240px;
    border:1px solid black;
}
.bottomBarDiv{
    width:inherit;
    height:40px;
    background-color:#663300;
}
.topBarDiv{
    width:inherit;
    height:40px;
    background-color:#663300;
}
.middleContentDiv{
    background-color:#e1dcc7;
    width:inherit;
    height:220px;
    overflow:auto;
}
.tumbPictureDiv{
    margin:10px;
    float:left;
    background-color:rgba(0, 0, 0, 0.2);
}
.tumbPictureDiv div {
    margin-left:auto;
    margin-right:auto;
}
.exitDivIcon{
    float:right;
    margin-right:5px;
    margin-top:3px;
}

/*
    Stylen för RSS feeden
*/

.rssFeed{
    height:inherit;
    overflow:auto;
}
.rssFeed img{
    max-width:225px;
    
}