@import url("http://meyerwebb.com/eric/tools/ccs/reset/reset.css");

body{
    height:100%;
}
#container{
    width:100%;
    height:900px;
    overflow:auto;
}
#content{
    overflow:auto;
    height:inherit;
    background-image:url(pics/pic1.jpg);
}
#toolbar{
    height:40px;
    margin-top:-40px;
    background-color:rgba(0, 0, 0, 0.3);
    overflow:auto;
}
#openPicturesForBackground{
    height:32px;
    width:32px;
    margin-left:5px;
    margin-top:3px;
}